.number {
    font-weight: bold;
    margin-top: 0;
}

div.current {
    background: #7AE2FB;
    padding-bottom: 10px;
}

div.pred {
    background: #f5b84e;
    padding-bottom: 10px;
}

html {
    scroll-behavior: smooth;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden
}